@import '../../styles/global.scss';

section.grid-container {
  background-color: #ff7052;

  display: grid;

  // Max Content
  // grid-template-rows: repeat(2, 150px);
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: 1fr 1fr max-content 1fr;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: repeat(2, min-content);
  // grid-template-rows: repeat(2, max-content);

  // minmax function
  // grid-template-columns: 1fr 1fr min-content 1fr;
  // grid-template-rows: repeat(2, minmax(100px, min-content));
  grid-template-rows: repeat(2, minmax(100px, 200px));

  grid-template-columns: minmax(250px, 500px) repeat(3, 1fr);

  // height: 100vh;

  div.item {
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
  }

  div.item-1 {
    background-color: chartreuse;
  }

  div.item-2 {
    background-color: chocolate;
  }

  div.item-3 {
    background-color: cornflowerblue;
  }

  div.item-4 {
    background-color: olivedrab;
  }

  div.item-5 {
    background-color: darkorchid;
  }

  div.item-6 {
    background-color: darkseagreen;
  }

  div.item-7 {
    background-color: dimgray;
  }

  div.item-8 {
    background-color: yellow;
  }

  div.item-9 {
    background-color: dodgerblue;
  }

  div.item-10 {
    background-color: forestgreen;
  }

  div.item-11 {
    background-color: fuchsia;
  }

  div.item-12 {
    background-color: indigo;
    color: white;
  }
}
