// @while rule

section.gallery {
  display: flex;
  flex-wrap: wrap;

  div[class^='content'] {
    height: 50rem;
    aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
  }
}

$img: 1;
@while $img < 7 {
  section.gallery {
    div.content-#{$img} {
      background-image: url('../img/gallery-#{$img}.jpg');
      background-size: cover;
    }
  }

  $img: $img + 1;
}
