// Variables
// CSS Variables
:root {
  --color-primary: yellowgreen;

  font-size: 62.5%;
  font-family: monospace;
}

// Sass Variables
$color-primary: #303960;
$color-secondary: #ea9a96;
$color-tertiary: #f8b24f;
$color-white: #fff;

// Sass Maps
$colors: (
  'color-primary': #303960,
  'color-secondary': #ea9a96,
  'color-tertiary': #f8b24f,
  'color-white': #fff,
);

// Partials & Imports (at import rule => @import)
@import 'reset';

// Sass Function
@import 'functions';

// Sass Mixins
@import 'mixins';

// Sass Extend
@import 'extend';
