* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(212, 212, 212);
}

/* Flex Continer => Parent */
ul {
  margin: 0 auto;
  background-color: gray;
  padding: 20px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  justify-content: center;
  align-items: baseline;

  /*-*-*-*-*-*-*-*-*-*-----(4)JUSTIFY CONTENT-----*-*-*-*-*-*-*-*-*-*/

  /* Default Direction => Row => Main Axis => Horizontal */
  /* Direction => Column => Main Axis => Vertical */

  /* 4.1 */
  /* Flex Start (Default) */
  /* justify-content: flex-start; */

  /* 4.2 */
  /* Flex End */
  /* justify-content: flex-end; */

  /* 4.3 */
  /* Center */
  /* justify-content: center; */

  /* 4.4 */
  /* Space Between */
  /* justify-content: space-between; */

  /* 4.5 */
  /* Space Around */
  /* justify-content: space-around; */

  /* 4.6 */
  /* Space Evenly */
  /* justify-content: space-evenly; */

  /*-*-*-*-*-*-*-*-*-*-----(5)ALIGN ITEMS-----*-*-*-*-*-*-*-*-*-*/

  /* Default Direction => Row => Cross Axis => Vertical */
  /* Direction => Column => Cross Axis => Horizontal */

  /* 5.1 */
  /* Stretch (Default) */
  /* align-items: stretch; */

  /* 5.2 */
  /* Flex Start */
  // align-items: flex-start;

  /* 5.3 */
  /* Flex End */
  // align-items: flex-end;

  /* 5.4 */
  /* Center */
  // align-items: center;

  /* 5.5 */
  /* Baseline */

  /*-*-*-*-*-*-*-*-*-*-----(6)ALIGN CONTENT-----*-*-*-*-*-*-*-*-*-*/

  /* 6.1 */
  /* Stretch (Default) */
  /* align-content: stretch; */

  /* 6.2 */
  /* Flex Start */
  /* align-content: flex-start; */

  /* 6.3 */
  /* Flex End */
  /* align-content: flex-end; */

  /* 6.4 */
  /* Space Between */
  // align-content: space-between;

  /* 6.5 */
  /* Space Around */
  // align-content: space-around;

  /* 6.6 */
  /* Space Evenly */
  // align-content: space-evenly;

  /* 6.7 */
  /* Center */
  // align-content: center;

  /* Flex Items => Children */
  li {
    /* display: inline-block; */
    list-style: none;
    color: black;
    background-color: white;
    margin: 20px;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    text-align: center;

    &:first-child {
      height: 15%;
      font-size: 20px;
    }

    &:nth-child(2) {
      height: 20%;
      font-size: 45px;
    }

    &:nth-child(3) {
      height: 18%;
      font-size: 10px;
    }

    &:last-child {
      height: 14%;
      font-size: 32px;
    }

    /*-*-*-*-*-*-*-*-*-*-----(1)ORDER-----*-*-*-*-*-*-*-*-*-*/

    /* When the flex direction is Row/Column */
    // if order value is 0 it means default value

    // // ordering from bottom(end)
    // &:nth-child(3) {
    //   order: 1;
    // }

    // &:nth-child(1) {
    //   order: 3;
    // }

    // &:nth-child(6) {
    //   order: 2;
    // }

    // &:nth-child(5) {
    //   // last
    //   order: 5;
    // }

    // // ordering from top(start)
    // &:nth-child(8) {
    //   //first
    //   order: -1;
    // }

    // &:nth-child(2) {
    //   order: -2;
    // }

    /*-*-*-*-*-*-*-*-*-*-----(2)Flex GROW-----*-*-*-*-*-*-*-*-*-*/
    /* Flex Grow (Default => 0 => off) */
    // &:first-child {
    //   flex-grow: 1;
    // }
    // &:nth-child(2) {
    //   flex-grow: 2;
    // }

    /*-*-*-*-*-*-*-*-*-*-----(3)Flex SHRINK-----*-*-*-*-*-*-*-*-*-*/
    /* Flex Shrink (Default => 1 => on) */

    // &:first-child {
    //   flex-shrink: 0;
    // }

    /*-*-*-*-*-*-*-*-*-*-----(4)Flex BASIS-----*-*-*-*-*-*-*-*-*-*/
    /* FLEX BASIS (Default => Auto) */
    // &:first-child {
    //   flex-basis: 25rem;
    // }

    // flex-grow -> shrink -> flex-basis 순서로 responsive

    // &:nth-child(2) {
    //   flex-basis: 10rem;
    // }

    // if use with flex grow flex grow part is first shrink part (more responsive)

    /*-*-*-*-*-*-*-*-*-*-----(5)Flex SHORTHAND-----*-*-*-*-*-*-*-*-*-*/
    /* flex Shorthand (flex-grow flex-shrink flex-basis) */
    // &:first-child {
    //   flex: 1 0 20rem;
    // }

    /*-*-*-*-*-*-*-*-*-*-----(6)Align Self-----*-*-*-*-*-*-*-*-*-*/
    // 6.1
    /* Auto (Default) => Aligns according to parent's align-items property's value */
    // &:first-child {
    //   align-self: auto;
    // }

    // 6.2
    /* Flex End */
    // &:first-child {
    //   align-self: flex-end;
    // }

    // 6.3
    /* Center */
    // &:first-child {
    //   align-self: center;
    // }

    // 6.4
    /* Strech */
    // &:first-child {
    //   align-self: stretch;
    // }

    // 6.5
    /* base-line */
    // &:first-child {
    //   align-self: baseline;
    // }

    // 6.6
    /* Flex-start */
    // &:first-child {
    //   align-self: flex-start;
    // }
  }
}
