@import '../../style/global_var.scss';

section#features-content {
  grid-column: container-start / col-end 9;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  div.feature-1,
  div.feature-2 {
    padding: $padding-section;
    position: relative;

    display: grid;
    grid-template-areas:
      'title'
      'para';
    row-gap: 4vh;
    align-items: center;
    justify-items: start;

    border-left: solid 0.2rem $color-secondary;

    &:first-of-type {
      border-left: 0;
      border-right: solid 0.2rem $color-secondary;
    }

    img.background-img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -2;
      object-fit: cover;
    }

    &:after {
      z-index: -1;
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        $color-secondary-m-light,
        $color-secondary-m-dark
      );
    }

    h2.title {
      grid-area: title;
      font-size: $font-size-title;
      color: white;
    }

    p.para {
      grid-area: para;
      color: white;
      font-weight: 500;
    }
  }
}

section#features-text {
  background-color: $color-secondary;

  grid-column: col-start 10 / center-end;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  h2.title {
    transform: rotate(0.25turn);
    font-size: $font-size-title;
    font-weight: 500;
    color: white;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 600px) {
  section#features-content {
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));

    div.feature-1,
    div.feature-2 {
      border: none;

      p.para {
        font-size: 1.25rem;
      }
    }
  }

  section#features-text {
    display: none;
  }
}
