@import '../../style/global_var.scss';

section#features-content {
  grid-column: container-start / col-end 9;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  div.feature-1,
  div.feature-2 {
    padding: $padding-section;

    display: grid;
    grid-template-areas:
      'title'
      'para';
    row-gap: 4vh;
    align-items: center;
    justify-items: start;

    h2.title {
      grid-area: title;
      font-size: $font-size-title;
      color: white;
    }

    p.para {
      grid-area: para;
      color: white;
      font-weight: 500;
    }
  }

  div.feature-1 {
    background: linear-gradient(
        $color-secondary-m-light,
        $color-secondary-m-light
      ),
      url('../../assets/img/Features/cocktail.jpg');

    background-size: cover;
    background-position: center;

    border-right: solid 0.2rem $color-secondary;
  }

  div.feature-2 {
    background: linear-gradient(
        $color-secondary-m-light,
        $color-secondary-m-light
      ),
      url('../../assets/img/Features/surfing.jpg');

    background-size: cover;
    background-position: center;

    border-left: solid 0.2rem $color-secondary;
  }
}

section#features-text {
  background-color: $color-secondary;

  grid-column: col-start 10 / center-end;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  h2.title {
    transform: rotate(0.25turn);
    font-size: $font-size-title;
    font-weight: 500;
    color: white;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 600px) {
  section#features-content {
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));

    div.feature-1,
    div.feature-2 {
      border: none;

      p.para {
        font-size: 1.25rem;
      }
    }
  }

  section#features-text {
    display: none;
  }
}
