@import './global.scss';

// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-size: 62.5%;

  .App {
    font-family: $fontFamily;
    line-height: $lineHeight;

    display: flex;

    aside#side-nav {
      position: sticky;
      top: 0;
      left: 0;
      height: 100vh;
    }
  }
}
