@import './global_var.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-size: 62.5%;
}

body {
  font-family: $font_TitilliumWeb;
  line-height: 1.7;
  background-color: $color-quaternary;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
}

.container > * {
  font-size: 3rem;
}
