@import './global_var.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-size: 62.5%;
}

body {
  font-family: $font_TitilliumWeb;
  line-height: 1.7;
  background-color: $color-quaternary;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
}

.container > * {
  font-size: 3rem;
}

a:link,
a:visited {
  color: $color-quaternary;
  text-decoration: none;
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  transition: all $transition-duration cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

p {
  color: white;
  font-size: calc(1rem + 1vw);
  font-weight: 300;
}

li {
  list-style: none;
  margin-bottom: 4rem;
}

.icon {
  font-size: $font-size-title;
  color: $color-secondary;
}
