// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/************ Variables ************/
// Font
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Handlee&display=swap');
$fontFamily: 'Baloo Tamma 2', cursive;
$lineHeight: 1.8;

// Color
$primary-color: #014d4e;
$secondary-color: #ff9408;
$secondary-color-m: #ff94088e;
$tertiary-color: #017374;
$tertiary-color-m: #01737498;
