:root {
  --color-primary: yellowgreen;
  font-size: 62.5%;
  font-family: monospace; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

section.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-bottom: 1rem;
  flex-direction: row;
  background-color: #303960; }
  section.section-1 div.content {
    font-size: 3rem; }
  section.section-1 div.content:last-child {
    margin-left: 20rem; }

section.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  background-color: #f8b24f; }
  section.section-2 div.content {
    font-size: 3rem; }

@media screen and (max-width: 1000px) {
  section.section-1 {
    flex-direction: column; } }

section.section-1 div.content:last-child {
  margin-left: 0; }

section.section-1 div.content h2.title, section.section-1 div.content p.para {
  margin: 2rem 0;
  font-family: monospace;
  font-size: 4rem; }

section.section-1 {
  background-color: #ea9a96; }
  section.section-1 div.content {
    padding: 2rem;
    color: #fff; }

.gallery {
  display: grid;
  grid-template-rows: 1fr auto-fit;
  grid-template-columns: [container-start] repeat(3, 1fr) [container-end]; }
  .gallery h2.title {
    font-size: 3rem;
    padding: 1rem 2rem;
    grid-column: container-start / container-end; }
  .gallery div[class^='content'] {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat; }

.content-1 {
  background-image: url("../img/gallery-1.jpg");
  background-position: center; }

.content-2 {
  background-image: url("../img/gallery-2.jpg");
  background-position: center; }

.content-3 {
  background-image: url("../img/gallery-3.jpg");
  background-position: center; }

.content-4 {
  background-image: url("../img/gallery-4.jpg");
  background-position: center; }

.content-5 {
  background-image: url("../img/gallery-5.jpg");
  background-position: center; }

.content-6 {
  background-image: url("../img/gallery-6.jpg");
  background-position: center; }

section.gallery-while {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [container-start] 1fr [center-start] repeat(3, [col-start] minmax(min-content, 50rem) [col-end]) [center-end] 1fr [container-end]; }
  section.gallery-while h2.title {
    font-size: 3rem;
    padding: 1rem 2rem;
    grid-column: center-start / center-end; }
  section.gallery-while div[class^='content'] {
    aspect-ratio: 1 / 1; }

section.gallery-while div.content-while-1 {
  background-image: url("../img/gallery-1.jpg");
  background-position: center;
  grid-column: col-start 1/col-end 1; }

section.gallery-while div.content-while-2 {
  background-image: url("../img/gallery-2.jpg");
  background-position: center;
  grid-column: col-start 2/col-end 2; }

section.gallery-while div.content-while-3 {
  background-image: url("../img/gallery-3.jpg");
  background-position: center;
  grid-column: col-start 3/col-end 3; }

section.gallery-while div.content-while-4 {
  background-image: url("../img/gallery-4.jpg");
  background-position: center;
  grid-column: col-start 1/col-end 1; }

section.gallery-while div.content-while-5 {
  background-image: url("../img/gallery-5.jpg");
  background-position: center;
  grid-column: col-start 2/col-end 2; }

section.gallery-while div.content-while-6 {
  background-image: url("../img/gallery-6.jpg");
  background-position: center;
  grid-column: col-start 3/col-end 3; }
