:root {
  --color-primary: yellowgreen;
  font-size: 62.5%;
  font-family: monospace; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

section.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-bottom: 1rem;
  flex-direction: row;
  background-color: #303960; }
  section.section-1 div.content {
    font-size: 3rem; }
  section.section-1 div.content:last-child {
    margin-left: 20rem; }

section.section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  background-color: #f8b24f; }
  section.section-2 div.content {
    font-size: 3rem; }

@media screen and (max-width: 1000px) {
  section.section-1 {
    flex-direction: column; } }

section.section-1 div.content:last-child {
  margin-left: 0; }

section.section-1 div.content h2.title, section.section-1 div.content p.para {
  margin: 2rem 0;
  font-family: monospace;
  font-size: 4rem; }

section.section-1 {
  background-color: #ea9a96; }
  section.section-1 div.content {
    padding: 2rem;
    color: #fff; }
