@import '../../global.scss';

section#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 6rem 2rem 2rem;
  background-color: $primary-color;

  div.service {
    padding: 4rem;
    margin: 0 2rem 4rem;
    flex-basis: 30rem;
    flex-grow: 1;
    background-color: $secondary-color;
    border-bottom: 0.2rem solid $secondary-color;
    border-left: 0.2rem solid $secondary-color;
    border-right: 0.2rem solid $secondary-color;

    position: relative;

    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $primary-color;
      transform: scaleY(0);
      transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
      transform-origin: top;

      z-index: -1;
    }

    &:hover::after,
    &:active::after {
      transform: scaleY(1);
    }

    .icon,
    h3.services--title {
      margin-bottom: 2rem;
    }

    .icon {
      font-size: 3rem;
      color: white;
    }

    h3.services--title {
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    p.services--para {
      font-family: 'Handlee', cursive;
      font-size: 2rem;
      color: white;
    }
  }
}

@media screen and (max-width: 610px) {
  section#services {
    padding: 6rem 3rem 2rem;

    div.service {
      padding: calc(1rem + 2vw);
      margin: 0 0 calc(1rem + 2vw);

      h3.services--title {
        font-size: calc(1.2rem + 2vw);
      }

      p.services--para {
        font-size: calc(0.8rem + 2vw);
      }
    }
  }
}
