* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;

  .card {
    width: 400px;
    background-color: rgb(166, 248, 159);

    img {
      width: 400px;
      height: 400px;
      object-fit: cover;
    }

    .contents {
      display: flex;
      flex-direction: column;

      .date {
        align-self: center;
      }

      h3 {
        font-size: 16px;
        align-self: flex-end;
      }
    }
  }
}
