@import '../../styles/global.scss';

header#header {
  background-color: $secondary-color;
  height: calc(3vw + 3vh);
  z-index: 2;

  nav#main-nav {
    height: 100%;

    ul.main-links {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        padding-right: 3vw;

        a {
          position: relative;
          padding: 0.2rem 0.6rem;
          font-size: calc(1rem + 0.66667vw);
        }

        a:link::before,
        a:visited::before,
        a:link::after,
        a:visited::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          background-color: white;
          height: 0.25rem;

          transform: scaleX(0);

          transition: transfrom 0.6s cubic-bezier(1, 0, 0, 1);
        }

        a:link::after,
        a:visited::after {
          bottom: 0;
          transform-origin: right;
        }

        a:hover::before,
        a:active::before,
        a:hover::after,
        a:active::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

header#header-colapse {
  position: absolute;
  z-index: 2;

  nav#main-nav-colapse {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: $secondary-color;
    text-align: center;

    div#main-nav--hamburger {
      width: 4rem;
      height: 4rem;
      position: fixed;
      top: 1rem;
      right: 2rem;
      cursor: pointer;
      background-color: $secondary-color;
      padding: 1rem;
      border-radius: 50%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .line {
        width: 100%;
        height: 0.3rem;
        background-color: white;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
      }
    }

    ul.main-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;

      li {
        margin-bottom: 4vh;
        margin-left: 6vw;
      }
    }
  }

  nav.open {
    left: 55%;

    .line1 {
      transform: rotateZ(-45deg) translate(-0.5rem, 0.45rem);
    }

    .line2 {
      opacity: 0;
    }

    .line3 {
      transform: rotateZ(45deg) translate(-0.5rem, -0.45rem);
    }

    ul.main-links {
      li {
        opacity: 0;
      }

      li:nth-child(1) {
        transition: all 0.5s ease-in-out 0.2s;
      }

      li:nth-child(2) {
        transition: all 0.5s ease-in-out 0.4s;
      }

      li:nth-child(3) {
        transition: all 0.5s ease-in-out 0.6s;
      }

      li:nth-child(4) {
        transition: all 0.5s ease-in-out 0.8s;
      }

      li:nth-child(5) {
        transition: all 0.5s ease-in-out 1s;
      }

      li:nth-child(6) {
        transition: all 0.5s ease-in-out 1.2s;
      }

      li.fade {
        padding: 0.25rem 1rem;
        opacity: 1;
        background-color: black;
      }
    }
  }
}
