.features {
  grid-column: container-start / container-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

  &__content {
    @extend %bg;

    display: grid;
    gap: 2vw;
    padding: 2rem 4rem;
    height: 40rem;
    align-items: center;

    &--title {
      @extend %sec-heading;

      font-weight: font-weight(bold) !important;
      align-self: flex-end;
      text-align: center;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;

        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--color-primary-m);
        z-index: -1;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s ease-in-out;
      }
    }

    &:hover &--title::before,
    &:active &--title::before {
      transform: scaleX(1);
      transform-origin: left;
    }

    &--para {
      @extend %sec-para;

      font-weight: font-weight(normal) !important;
      background-color: var(--color-primary-m);
      padding: 1rem;
      text-align: center;
    }

    &--link {
      padding: 1rem 1.7rem;
      justify-self: start;
      position: relative;
      overflow: hidden;
      transition: all 0.5s ease-in-out;

      @import './btn';

      &:hover,
      &:active {
        background-color: var(--color-primary);
      }
    }
  }

  @include media-small {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

@for $img from 1 through 9 {
  .features {
    &__content:nth-child(#{$img}) {
      background-image: url('../../img/features/features-#{$img}.jpg');
    }
  }
}
