@import '../../styles/global.scss';

div.content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $primary-color;

  div.content--logo {
    img {
      width: calc(3vw + 3vh);
      object-fit: cover;
    }
  }

  div.content--social {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    a {
      .icon {
        font-size: calc(2rem + 0.66667vw);
        color: white;

        padding-bottom: calc(0.5rem + 0.6667vw);
        // margin-bottom: calc(2rem + 0.6667vw);

        transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover,
        :active {
          color: $secondary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 691px) {
  div.content {
    display: none;
  }
}
